# Environments
venv/
.venv/
env/
ENV/

# Project Data
dataset/
*.png
*.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# User Plans
Execution_plan.md

#Real Dataset
real_dataset/images_km/
real_dataset/images_wf/
real_dataset/images_forest/
real_dataset/plos_id_km.txt
real_dataset/plos_id_wf.txt 
real_dataset/plos_id_forest.txt
real_dataset/progress.json



.gitignore

checkpoints/