# Environments
venv/
.venv/
env/
ENV/

# Project Data
dataset/
*.png
*.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# User Plans
Execution_plan.md

#Real Dataset
real_dataset/images/
real_dataset/extraction_debug_log.txt
real_dataset/pmc_ids.txt



.gitignore